img {  
    max-width: 80%;  
    max-height: 80%;  
}  

body {  
    height: 80vh;  
    width: 80vw;  
    text-align: center;  
    font-family: "Arial";  
    background-color: white;  
    color: black;  
}
